.p-blog__wraper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap:2.5rem;
}
.p-blog__article{
border-bottom:1px solid var(--color-tertiary);
padding-bottom:2.5rem;
margin-bottom:1.25rem;

}
.p-blog__article:last-child{
  border-bottom:none;
}
.p-blog__article-date{
  display:flex;
  justify-content:space-between;
}
.p-blog__article-date p{
  font-weight: 900;
color: var(--color-tertiary);
}
.p-blog__article-date span{
  
  color: var(--color-primary);
}
/** style for article datail */
.p-blog__wraper-article{
  width:37.5rem;
  margin: 0px auto;
}